# Version 0.62.4

Feature:
Frontend Series Cards