# Version 0.62.3

Feature:
Bidirectional Chapter Navigation API