# Version 0.62.5

Feature:
Frontend Navigation Integration